.wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #72f50f;
  padding: 40px;
  border-radius: 20px;
  justify-content: center;
  & .blog {
    border-radius: 20px;
    background-color: rgba(248, 234, 234, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 40px;
    width: 400px;
    height: 450px;
    margin: 20px;
  }
}
