.wrapper {
  font-size: 40px;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  min-width: 400px;

  & .navbarlink {
    padding: 5px 20px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;

    &:hover {
      background-color: rgb(116, 227, 239);
    }
  }
  & .active {
  background-color:#2e0ff5
  }
}
